/* DEFAULT VIEW */

/* 1 */
/* Creates animation for header logo */
@keyframes animate1
{
    from
    {
        width: 25px;
        opacity: 0;
    }
    to
    {
        width: 475px;
        opacity: 1;
    }
}

#logo 
{
    animation-name: animate1;
    animation-duration: 5s;
}

/* 2 */
body 
{
    font-family: "Poppins", "serif";
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* 3 */
/* Properly formats heading */
header 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 4 */
/* Distributes header links properly */
.nav_links 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 5 */
/* Keeps link the same color at all times */
a:visited 
{
    color: blue;
}

/* 6 & 7 */
/* Card customization/style */
.card > header 
{
    /* a */
    background: #288088;
    border-style: solid;
    border-width: 2px;
    border-color: #45ADAD;
    /* b */
    padding-top: 20px;
    padding-bottom: 20px;
    /* c */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    justify-content: center;
}

.card 
{
    flex-basis: 450px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* 8 */
.pricing 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 9 */
/* Gives style to gallery images */
.gallery > img 
{
    border-style: solid;
    border-width: 10px;
    border-color: #50C7C7;
    margin: 10px;
    width: 300px;
    align-self: normal;
} 

/* 10 */
/* Properly formats gallery images */
.gallery 
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* LARGE SCREEN */
/* Changes made for screens larger than 900px */
@media screen and (min-width: 900px)
{
    /* 11 */
    header
    {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links
    {
        display: flex;
        flex-direction: row;
    }

    /* 12 */
    .pricing 
    {
        justify-content: center;
        align-items: center;
    }

    .card 
    {
        flex-basis: 275px;
    }

    /* 13 */
    body > header 
    {
        position: sticky;
        top: 0px;
    }
}

/* REDUCED MOTION */
/* Takes away logo animation */
/* 14 */
@media screen and (prefers-reduced-motion: reduce) 
{
    #logo 
    {
        animation: none;
    }
}

/* PORTRAIT MODE PRINT */
/* Changes for print layout */
@media print
{
    body 
    {   
        /* 15 */
        font-family: "Arial", "Helvetica";
        /* 16 */
        background-image: none;
    }

    /* 17 */
    nav 
    {
        width: 100%;
    }

    .nav_links
    {
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* 18 */
    .pricing
    {
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;
        justify-content: center;
    }

    /* 19 */
    .card
    {
        border-style: solid;
        border-width: 2px;
        border-color: #45ADDD;
        flex-basis: 325px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    /* 20 */
    /* Does not display gallery */
    .gallery, #gallery {
        display: none;
    }
    
    /* 21 */
    /* thumbs up */
    .card li:nth-child(2)::after 
    {
        content:"\1F44D";
    }
}
